<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CaseCommnets">
  <test thread-count="5" name="RegressionTest">
  	<parameter name="comments" value="TestNG Parameter Value" />
		<classes>
			<class name="com.mits.test.automation.icm.cases.CaseComments" />
		</classes>
  </test> <!-- RegressionTest -->
</suite> <!-- CaseCommnets -->